<div class="container">
    {{#each dbResult}}
        <div class="product-container">
            <p>status = {{this.status}}</p>
            <p>payload = {{this.docs}}</p>
            <p>totalPages = {{this.totalPages}}</p>
            <p>page = {{this.page}}</p>
            <p>hasPrevPage = {{this.hasPrevPage}}</p>
            <p>hasNextPage = {{this.hasNextPage}}</p>
            <p>prevLink = {{this.prevPage}}</p>
            <p>nextLink = {{this.nextPage}}</p>
        </div>
    {{/each}}
    {{#each productos}}
        <div class="product-container">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>{{this.code}}</p>
            <p>{{this.price}}</p>
            <p>{{this.status}}</p>
            <p>{{this.thumbnail}}</p>
            <p>{{this.stock}}</p>
            <p>{{this.category}}</p>
        </div>
    {{/each}}
</div>
